<nav class="navbar">
  <div class="nav-left">
    <div class="logo-box">
      <span class="logo-icon">🏦</span>
      <span class="logo-text">BankApp</span>
    </div>
  </div>

  <div class="nav-right">
    <app-language-changer />

    <div class="user-info">
      <span class="user-name">{{ userName }}</span>
      <div class="user-avatar">
        <img *ngIf="profilePhotoUrl; else initialBlock" [src]="profilePhotoUrl" alt="{{ userName }}" class="profile-img">
        <ng-template #initialBlock>{{ userInitial }}</ng-template>
      </div>
    </div>
  </div>
</nav>